Package: io.crafterpika.cybackground
Name: CyBackground
Depends: mobilesubstrate | com.ex.substitue, preferenceloader
Version: 1.0.5
Architecture: iphoneos-arm
Description:  Background Refresh Cydia?!
Maintainer: CrafterPika
Author: CrafterPika
Section: Tweaks
